{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>{{ title }}</h1>
            </div>

            <div id="content">
                INDEX ACTION
            </div>
        </div>
    </div>
{% endblock %}
