{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for concert in concerts %}
            <li>{{ concert.concertLibel }} <a href="{{ path('concert_delete' , {id : concert.concertId}) }}">x</a></li>
        {% endfor %}
    </ul>
{% endblock %}
